form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  margin: 10px auto;
}
form button {
  align-self: flex-end;
  background-color: transparent;
  border: 2px solid #122747;
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
}
form * {
  margin: 3px 0;
  background-color: transparent;
  padding: 5px;
  outline: none;
  font-size: 14pt;
  border: 3px solid #ccc;
  border-radius: 3px;
}
